@import "~purecss/build/pure.css";
@import "~purecss/build/grids-responsive.css";

.chart,
.form-select,
.year-details,
.footer,
.top {
  box-sizing: border-box;
  padding: 1em;
}

.chart canvas {
  margin: 0 auto;
  max-width: 800px;
  user-select: none;
}

.top-menu {
  background: #262626;
  line-height: 1.3em;
}

.site-title {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.3;
}

.footer {
  font-size: 0.9em;
  text-align: right;
}
