{
  "sourceMaps": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "browsers": [
          "> 0.5%",
          "last 3 versions",
          "Firefox ESR",
          "Opera 12.1",
          "ie >= 9"
        ]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
