{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-assign",
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "bluebird": "Promise",
          "chart": "Chart",
          "randomcolor": "randomColor",
          "common": "webEs6Common",
          "files": "webEs6Files",
          "db": "webEs6Db"
        }
      }
    ]
  ],
  "moduleIds": true,
  "sourceMaps": true
}
