{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [
      "warn",
      "always-multiline"
    ]
  }
}
