{
  "parser": "babel-eslint",
  "extends": "problems",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "object-shorthand": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "semi": "off"
  }
}